@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap");
body {
  font-family: "Inter", sans-serif !important;
  min-height: 100vh;
}

.btn-round {
  border-radius: 12px !important ;
}

.text-black2 {
  color: #212529;
}
.light-2 {
  background-color: #f7f7f7;
}
.text-darkgrey {
  color: #52575c;
}
.text-red2 {
  color: #fc4747;
}
.text-blue2 {
  color: #046eef;
}
.btn-ldark {
  border: none !important;
  background-color: #333 !important;
}
.bg-paleblue {
  background-color: #e5f2ff !important;
}

.bg-paleblue-2 {
  background-color: #dedad2 !important;
}
.no-border {
  border: none !important;
}
.btn-ldark:hover {
  background-color: transparent !important;
}

.searchbar-overlay {
  margin-top: -20px !important;
}
