.signin-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 92vh;
  background-color: #e5e7eb;
}

.signin-wrapper  {
  display: flex;
  background-color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  height: fit-content;
  border-radius: 8px;
  width: 100%;
  max-width: 350px;
  gap: 13px;
}

.no-underline,
.no-underline a {
  font-size: 14px;
  text-decoration: none;
}

.hr-container {
  width: 100%;
}

.hr-sect {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.35);
  margin: 8px 0px;
}

.hr-sect:before,
.hr-sect:after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 8px;
}

.thirdparty-signin-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 8px;
}

.thirdparty-signin-title {
  margin: 0;
}
